<%- include('./templates/header.ejs') %>

<%- include('./templates/joint.ejs') %>

<header></header>
<nav>
	<%- include('./templates/nav.ejs') %>
</nav>
<main>

	<div class="container">
		<section>
			<h1>HELLO FROM NODEJS-EXPRESS</h1>
			<a href="/gallery">GO TO Gallery</a>

		</section>
	</div>

</main>


<%- include('./templates/footer.ejs') %>