<%- include('./templates/header.ejs') %>

<%- include('./templates/joint.ejs') %>

<header></header>
<nav></nav>
<main>
	<section><h1>HELLO FROM NODEJS-EXPRESS</h1></section>
	<section></section>
</main>


<%- include('./templates/footer.ejs') %>