.image-container {
    padding: 5px;
    width: 100%;
    transition: 0.2s;
}
.image-container:hover {
    transition: 0.3s;
}

.image-container img {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 5px;
    filter: grayscale(90%);
}
.image-container img:hover {
    filter: grayscale(0%);
}
